<style>
    img{
        width: 200px;
        height: 300px;
    }

</style>

<h1>{{user}}'s' favorites</h1>

<div class="favorite-container">
    <div class="card-columns">
    <div class="card">
        <img src="https://www.edamam.com/web-img/c24/c24a86f98a8cc1f13f795bdba2dae614.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <a href="http://www.epicurious.com/recipes/food/views/Roast-Chicken-394676"><h5 class="card-title">Roast Chicken </h5></a>
        </div>
    </div>
    <div class="card">
        <img src="https://www.edamam.com/web-img/561/56100df8491403ea215cea3c782faec9.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Thomato Chicken</h5>
        </div>
    </div>
    <div class="card">
        <img src="https://www.edamam.com/web-img/561/56100df8491403ea215cea3c782faec9.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        </div>
    </div>
        <div class="card">
        <img src="https://www.edamam.com/web-img/561/56100df8491403ea215cea3c782faec9.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        </div>
    </div>
        <div class="card">
        <img src="https://www.edamam.com/web-img/a8e/a8e6b4cd3856e78ad8f84f2a4d4ad8c3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        </div>
    </div>
    </div>
</div>
