<div style="position: relative" id="accordion">
    <h3 class="bg-dark" id="init">Find Your Recipe</h3>
    {{> search }}
    <h3 class="result-header" id="click">Result</h3>
    <div class="card-columns" id="result">
        {{#if meals}}
            {{#each meals}}
                {{> recipe }}
            {{/each}}
        {{/if}}
    </div>
    <h3 class="result-header" id="recipe">Recipe</h3>
</div>

<script type="text/javascript" src="js/form.js"></script>