{{!-- <ul>
	  {{#each cats}}
	    {{#unless sleepy}} /* if sleepy==false */
	      {{> cats/cat-block sleep=true}} 
	/* partials/cats/cat-blcok.handlebars를 호출한다. 이때 추가 패러미터로 sleep=true를 전달한다 (name은 자동으로 전달된다.) */
	    {{/unless}}
	  {{/each}}
</ul> --}}

<div id="accordion">
    <h3 id="init">Find your Recipe</h3>
    <div class="search-bar">
        <fieldset>
            <legend>Cuisine</legend>
            <ul>
                <li>
                    <label for="food" class="title">foodname</label>
                    <input type="text" size="40" id="food" required>
                </li>
            </ul>
        </fieldset>
        <fieldset>
            <legend>Option</legend>
            <ul>
                <li>
                    <label for="diet">Diet:
                        <select id="diet">
                            <option value=""></option>
                            <option value="balanced">balanced</option>
                            <option value="high protein">high protein</option>
                            <option value="low-fat">low-fat</option>
                            <option value="low-carb">low-carb</option>
                        </select>
                    </label>
                </li>
                <li>
                    <label id="health">Health : <br>
                        <input type="checkbox" id="vegan" name="health" value="vegan"><label for="vegan">vegan</label>
                        <input type="checkbox" id="vegetarian" name="health" value="vegetarian"><label for="vegetarian">vegetarian</label>
                        <input type="checkbox" id="sugar-conscious" name="health" value="sugar-conscious"><label for="sugar-conscious">sugar-conscious</label><br>
                        <input type="checkbox" id="peanut-free" name="health" value="peanut-free"><label for="peanut-free">peanut-free</label>
                        <input type="checkbox" id="tree-nut-free" name="health" value="tree-nut-free"><label for="tree-nut-free">tree-nut-free</label>
                        <input type="checkbox" id="alcohol-free" name="health" value="alcohol-free"><label for="alcohol-free">alcohol-free</label>
                    </label>
                </li>
            </ul>
        </fieldset>
        <div class="centered">
            <input type="submit" id ="submit" class="btn btn-primary" value="Let's cook!">
        </div>
    </div>
    <h3 id="click">Result</h3>
    <div id="result"></div>
    <h3 id="recipe">Recipe</h3>
    <div>
       <p>
            <iframe width="100%" height="600" src="" marginwidth="0" marginheight="0" frameborder="0"></iframe>
       </p>
    </div>
</div>
<script>
$(function(){
    $("#accordion").accordion();
    $("#init").click();

    $(document).on('keypress',function(e) {
        if(e.which == 13) {
           $("#submit").click();
        }
    });

    $("#submit").on("click", function(e){

        e.preventDefault;

        if($("#food").val()==="") {
            return $("#food").focus();
        }

        var diet="";
        var health="";
        //var arr = [];
        $("#result").empty();
       
        if($("[name='health']:checked").length!=0) {
            $.each($("[name='health']:checked"), function(i, element) {
                health=health+"&health="+element.value;
            });
        }

        if($("#diet").val()!="") {
            diet="&diet=";
            diet=diet+$(":selected").val();
        }

        var url = "https://api.edamam.com/search?app_id=d7d86c16&app_key=de28b35c4fbd92aecc64e7f389a73879&from=0&to=8&q="+$("#food").val()+health+diet;
        
        var object={
            "sendingURL":url
        }

        $.ajax("/api/recipe/", {
            type:"POST",
            data: object
        }).then(function(arr) {
           $("#click").click();
           console.log(arr);

           for (var i=0;i<arr.length;i++)  {
                var div=$("<div>").addClass("card").attr("style","width:18rem");     
                var img=$("<img>").addClass("card-img-top").attr("alt","Card image cap").attr("src",arr[i].image);             
                var innerdiv=$("<div>").addClass("card-body");              
                var title=$("<h5>").addClass("card-title").text(arr[i].label);                 
                var yield=$("<p>").addClass("card-text").html("<span class='bold'>Servings:</span> " + arr[i].yield);
                var time=$("<p>").addClass("card-text").html("<span class='bold'>Cooking Time:</span> " + arr[i].totalTime);
                var calories=$("<p>").addClass("card-text").html("<span class='bold'>Calories:</span> " + arr[i].calories);
                
                var iLabel=$("<p>").text("Ingredients: ").addClass("bold");
                var ingredients = $("<div>").addClass("card-text");
                for (var j = 0; j < arr[i].ingredientLines.length; j ++){
                    var ingredient = $("<p>").text(arr[i].ingredientLines[j] + "\n");
                    ingredients.append(ingredient);
                };     
                
                var dLabel=$("<p>").text("Diets: ").addClass("bold");
                var diets=$("<div>").addClass("card-text");
                for (var k = 0; k < arr[i].dietLabels.length; k ++){
                    var diet = $("<p>").text(arr[i].dietLabels[k] + "\n");
                    diets.append(diet);
                };
                
                var hLabel=$("<p>").text("Other Health Notes: ").addClass("bold");
                var healths=$("<div>").addClass("card-text");
                for (var l = 0; l < arr[i].healthLabels.length; l ++){
                    var health = $("<p>").text(arr[i].healthLabels[l] + "\n");
                    healths.append(health);
                };
                
                var recipeBtn=$("<a>").addClass("btn btn-primary").text("Recipe")
                    .attr("href", arr[i].url).attr("id", "recipe-btn")
                    .attr("data-title", arr[i].label)
                    .attr("data-image", arr[i].image)
                    .attr("data-url", arr[i].url)
                    .attr("data-yield", arr[i].yield)
                    .attr("data-dietLabels", arr[i].dietLabels)
                    .attr("data-healthLabels", arr[i].healthLabels)
                    .attr("data-ingredientLines", arr[i].ingredientLines)
                    .attr("data-calories", arr[i].calories)
                    .attr("data-totalTime", arr[i].totalTime);
                var favoriteBtn=$("<a>").addClass("btn btn-primary btn-favorite").text("Favorite")
                    .data("title", arr[i].label)
                    .data("image", arr[i].image)
                    .data("url", arr[i].url)
                    .data("yield", arr[i].yield)
                    .data("dietLabels", arr[i].dietLabels.toString())
                    .data("healthLabels", arr[i].healthLabels)
                    .data("ingredientLines", arr[i].ingredientLines)
                    .data("calories", arr[i].calories)
                    .data("totalTime",arr[i].totalTime);
                
                
                innerdiv.append(title, yield, time, calories, iLabel, ingredients, dLabel, diets, hLabel, healths, recipeBtn, favoriteBtn);
                div.append(img).append(innerdiv);
                
                $("#result").append(div);
            };

        });
    });
    $(document).on("click", ".recipe", function(){
       $("#recipe").click();
       $("iframe").attr("src",$(this).data("url"));
   });
});

</script>
