<div id="home">
  <div class="container" id="jumboContainer">
    <div class="jumbotron">
      <h1 class="display-4">{{msg}}</h1>
      <hr class="my-4">
      <img id="brand-animation" alt="brand-animation" src="/images/MiseEnPlace.gif">
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
