<div id="home">
  <div class="container" id="jumboContainer">
    <div class="jumbotron">
      {{!-- <h1 class="display-4">{{msg}}</h1>
      <hr class="my-4"> --}}
      <img id="brand-animation" alt="brand-animation" src="/images/MiseEnPlace.gif">
      <div class="welcomePage">
        <h3 class="h3class">Welcome to Mise en Place</h3>
        <h5>Start a new recipe search now</h5>
        <a href="/form" class="btn btn-primary">Recipe Search</a> 
        <h5>Log in to view your saved recipes and meal calendar</h5>
        <h5>Or, if you're new to Mise en Place, sign up to save your favorite recipes</h5>   
        <h5>and create a weekly meal plan!</h5>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
