
<div class="welcome">
  <h1>Hello, {{user}}!</h1>
    <a href="/form" class="btn btn-primary">New Search</a>
    <a href="/members/favorites" class="btn btn-primary">Favorites</a>
</div>


{{> calendar}}


<script src="/js/members.js"></script>