
<div class="welcome">
  <h1>Hello, {{user}}!</h1>
  <h3 class="h3class">Welcome back to Mise en Place</h3>
  <h5>Start a new recipe search, revisit some old favorites</h5> 
  <h5>and take a look at your week to come!</h5>
  <br>
  <a href="/form" class="btn btn-primary">Recipe Search</a>
  <a href="/members/favorites" class="btn btn-primary">Favorites</a>
</div>

<h3 id="calendarHeader">Your Weekly Meal Plan</h3>

{{> calendar}}


<script src="/js/members.js"></script>