html {
  height: 100vh;
}

/* .navbar-dark, .bg-dark {
  background-color: #3b8686 !important;
}

body {
  background-color: #0b486b;
  color: #79bd9a;
}

.nav-link:hover {
  color: #cff09e;
}

.jumbotron {
  background-color: #3b8686;
} */

.nav-link {
  color: #f1fbf9;
}

.navbar {
  margin-bottom: 20px;
}

.list-group-item {
  line-height: 2.5;
}

#login-form, #signup-form {
  display: none;
}

.calendar {
  margin: 40px;
  background-color: #FFFFFF;
  color: black;
}
