<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            {{> navbarComponents/navSearch}}
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Profile
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/members">Home</a>
                <a class="dropdown-item" href="/members/calendar">Calendar</a>
                <a class="dropdown-item" href="/members/favorites">Favorite Meals</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout">Logout</a>                
            </div>
        </li>
        <div id="navbarDropdownOptions">
            <a class="dropdown-item" href="/members">Home</a>
            <a class="dropdown-item" href="/members/calendar">Calendar</a>
            <a class="dropdown-item" href="/members/favorites">Favorite Meals</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Logout</a>                
        </div>
    </ul>
</div>
